<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">
<head>
    <title>Hola Mundo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            background-color: #f5f5f5;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-top: 50px;
            width: 600px;
            margin-left: auto;
            margin-right: auto;
        }
        table {
            border-radius: 8px;
            overflow: hidden;
        }
        .btn {
            border-radius: 30px;
        }
    </style>
</head>
<body>
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Operacion</th>
                    <th scope="col">Numero 1</th>
                    <th scope="col">Numero 2</th>
                    <th scope="col">Resultado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${ope}"></td>
                    <td th:text="${num1}"></td>
                    <td th:text="${num2}"></td>
                    <td th:text="${rpta}"></td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <a href="/index.html" class="btn btn-primary">Ir a Index</a>
            <a href="/saludo" class="btn btn-primary">Saludo</a>
        </div>
    </div>
</body>
</html>
